.contact-us {
  position: relative;
  margin-top: 94px;
  padding-top: 90px;
  background-color: @lightbrown;
  background-image: url("../img/contacts-bg-@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/contacts-bg-@2x.jpg");
  }
}

.contact-us__wrapper {
  width: 1170px;
  margin: 0 auto;
}

.contact-us__info {
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}

.contact-us__description {
  width: 550px;
}

.contact-us__description-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}

.contact-us__main-text {
  margin: 0;
  margin-top: 20px;
  font-size: 20px;
}

.contact-us__text {
  width: 561px;
  margin: 18px 0 0;
  color: @dark;
}

.contact-us__photo {
  width: 512px;
  margin-top: -11px;
}

.contact-us__form {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.contact-us__form-left {
  width: 500px;
}

.contact-us__form input {
  width: 100%;
  margin-top: 20px;
  padding: 20px 25px;
  box-sizing: border-box;
  font: inherit;
  font-weight: 100;
  color: @dark;
  border: none;

  &::placeholder {
    color: @gray;
  }

  &:focus {
    color: @dark;
  }
}

.contact-us__form input:nth-of-type(1) {
  margin-top: 0;
}

.contact-us__form-right {
  width: 635px;
}

.contact-us__form-right textarea {
  min-width: 635px;
  max-width: 635px;
  min-height: 220px;
  max-height: 280px;
  padding: 20px 24px;
  box-sizing: border-box;
  font: inherit;
  color: @dark;
  border: none;

  &::placeholder {
    color: @gray;
  }

  &:focus {
    color: @dark;
  }
}

.contact-us__select-file {
  display: flex;
  margin-top: 15px;
}

.contact-us__file-label {
  margin-top: 19px;
  font-weight: 100;
  font-size: 17px;
  color: @dark;
}

.contact-us__form .contact-us__file-value {
  width: 305px;
  padding-left: 14px;
  padding-right: 14px;
}

.contact-us__file-wpapper {
  width: 458px;
  display: flex;
  margin-left: auto;
}

.contact-us__file-wpapper label {
  width: 150px;
  margin-left: -5px;
  padding: 19px 9px;
  text-align: center;
  color: @dark;
  background-image: linear-gradient(to bottom, #ffffff, #999896);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.contact-us__consent label {
  position: relative;
  display: block;
  width: 330px;
  padding-left: 30px;
  font-weight: 100;
  font-size: 18px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #000000;
  }
}

.contact-us__consent input:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 4px;
  height: 10px;
  border: 2px solid #000000;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}

.contact-us__consent {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.contact-us__button {
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.contacts-us__buffer {
  margin-top: 88px;
  height: 204px;
  background-color: rgba(255, 255, 255, 0.27);
}

.contact-us__form--second {
  display: none;
}

.contact-us__form .contact-us__empty-input {
  width: 0;
}

@media (max-width: 1230px) {
  .contact-us__wrapper {
    width: 680px;
  }

  .contact-us__info {
    display: block;
  }

  .contact-us__photo {
    margin-left: auto;
    margin-top: 30px;
  }

  .contact-us__form-right textarea {
    margin-top: 20px;
  }

  .contact-us__form {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .contact-us {
    margin: 0;
    padding-top: 18px;
    padding-bottom: 28px;
    background-color: #eeeeed;
    background-image: none;
  }

  .contact-us__wrapper {
    width: 290px;
  }

  .contact-us__info {
    display: none;
  }

  .contact-us__form {
    display: none;
    margin-top: 23px;
  }

  .contact-us__form--second {
    display: block;
    width: 290px;
  }

  .contact-us__form-left {
    width: 290px;
  }

  .contact-us__form-title {
    font-size: 10px;
    margin: 0;
    margin-bottom: 19px;
  }

  .contact-us__form-left input {
    padding: 8px 15px;
  }

  .contact-us__form-left input::placeholder {
    font-size: 9px;
  }

  .contact-us__consent {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    padding-left: 14px;
  }

  .contact-us__consent label::before {
    width: 12px;
    height: 12px;
  }

  .contact-us__consent label {
    width: 240px;
    font-size: 9px;
  }

  .contact-us__button {
    font-size: 14px;
    padding: 10px;
    margin-top: 25px;
    margin-left: 42px;
    border-radius: 15px;
    text-transform: initial;
  }

  .contacts-us__buffer {
    display: none;
  }

  .contact-us__consent input:checked + label::after {
    top: 1px;
    left: 5px;
    width: 3px;
    height: 9px;
  }
}
