.map {
  width: 100%;
  margin-top: -220px;
  padding-top: 90px;
  background-color: rgba(255, 255, 255, 0.27);
}

.map__wrapper {
  width: 1170px;
  margin: 0 auto;
}

.map__image-item {
  display: block;
  width: 100%;
}

.map__title {
  margin-bottom: 75px;
}

.map-info {
  position: absolute;
  width: 450px;
  margin-top: 105px;
  padding: 48px 32px 46px 37px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.map-info__title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
}

.map-info__description {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.map-info__description--phone {
  justify-content: flex-start;
}

.map-info__item {
  margin: 0;
  font-size: 16px;
  color: @yellow;
}

.map-info__value {
  width: 295px;
  margin: 0;
  font-weight: 100;
  font-size: 14px;
  color: @dark;
}

.map-info__value--phone {
  width: 175px;
  margin-left: 10px;
}
