.our-services {
  position: relative;
  padding-top: 97px;
  padding-bottom: 102px;
  background-image: url("../img/services-bg@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-image: url("../img/string.svg");
  }

  &::after {
    content: "";
    position: absolute;
    left: 91%;
    bottom: -22px;
    width: 52px;
    height: 46px;
    background-image: url("../img/cut.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/services-bg@2x.jpg");
  }
}

.our-services__wrapper {
  width: 1170px;
  margin: 0 auto;
}

.our-services__list {
  .list-reset();
  margin-top: 59px;
}

.our-services__item {
  display: flex;
  justify-content: space-between;
}

.our-services__info {
  position: relative;
  padding-left: 54px;
  width: 430px;
}

.our-services__item-title {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  color: @yellow;
  text-transform: uppercase;
}

.our-services__description {
  margin: 0;
  margin-top: 21px;
  font-size: 20px;
}

.our-services__description-list {
  .list-reset();
  margin-top: 17px;
  color: @dark;
  line-height: 22px;
}

.our-services__description-item {
  position: relative;
  padding-left: 29px;
  margin-bottom: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 7px;
    height: 7px;
    background-color: @yellow;
    border-radius: 50%;
  }
}

.our-services__photo {
  width: 518px;
  margin-top: 20px;
}

.our-services__photo img {
  box-shadow: 0 4px 16px 0 rgba(41, 41, 41, 0.11);
}

.our-services__item--second {
  margin-top: 53px;
}

.our-services__photo--second {
  width: 486px;
  margin-top: 0;
}

.our-services__info--small {
  width: 448px;
  margin-top: 54px;
  margin-right: 49px;
}

.our-services__item-title--second {
  margin-left: 37px;
}

.our-services__description--second {
  margin-left: 37px;
}

.our-services__description-item--second {
  width: 345px;
  padding-left: 38px;
}

.our-services__button {
  margin: 0 auto;
  margin-top: 20px;
}

@media (max-width: 1230px) {
  .our-services__wrapper {
    width: 680px;
  }

  .our-services__item {
    display: block;
  }

  .our-services__photo {
    margin-left: auto;
  }

  .our-services__photo--second {
    margin-right: auto;
    margin-left: 0;
  }

  .our-services__info--small {
    margin-left: auto;
  }
}

@media (max-width: 700px) {
  .our-services {
    padding-top: 17px;
    padding-bottom: 20px;
    background-color: #f0f0ef;
    background-image: none;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .our-services__wrapper {
    width: 290px;
  }

  .our-services__info {
    width: 270px;
    margin: 0 auto;
    padding: 9px 18px 9px 24px;
    box-sizing: border-box;
    background-color: #ffffff;

    &::before {
      display: none;
    }
  }

  .our-services__item-title {
    font-size: 14px;
  }

  .our-services__description {
    margin-top: 10px;
    font-size: 12px;
  }

  .our-services__description-list {
    font-size: 9px;
    line-height: 11px;
    margin-top: 11px;
  }

  .our-services__description-item {
    margin-bottom: 7px;
    padding-left: 17px;
  }

  .our-services__photo {
    display: none;
  }

  .our-services__description-item--second {
    width: 235px;
    box-sizing: border-box;
  }

  .our-services__list {
    margin-top: 18px;
  }

  .our-services__item--second {
    margin-top: 8px;
  }

  .our-services__description-item::before {
    top: 4px;
    left: 0;
    width: 5px;
    height: 5px;
  }

  .our-services__item-title--second {
    margin-left: 0;
    font-size: 14px;
    width: 250px;
    margin-top: -3px;
  }

  .our-services__description--second {
    margin-left: 0;
  }

  .our-services__button {
    margin-top: 9px;
    text-transform: initial;
    text-align: center;
    border-radius: 15px;
  }
}
