.page-footer {
  padding-top: 17px;
  padding-bottom: 45px;
  background-color: @lightbrown;
}

.page-footer__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding-left: 50px;
  box-sizing: border-box;
}

.page-footer__company-name {
  font-size: 12px;
}

.page-footer__top {
  display: flex;
  align-items: center;
}

.page-footer__list {
  .list-reset();
  width: 494px;
  margin-top: 3px;
  margin-left: 179px;
  font-size: 16px;
}

@media (max-width: 1230px) {
  .page-footer {
    padding-top: 45px;
  }

  .page-footer__wrapper {
    width: 660px;
    padding-left: 0;
  }

  .page-footer__list {
    width: 420px;
    margin-left: auto;
  }
}

