.page-footer {
  padding-top: 17px;
  padding-bottom: 45px;
  background-color: @lightbrown;
}

.page-footer__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding-left: 50px;
  box-sizing: border-box;
}

.page-footer__company-name {
  font-size: 12px;
  text-transform: uppercase;
}

.page-footer__top {
  display: flex;
  align-items: center;
}

.page-footer__list {
  .list-reset();
  width: 494px;
  margin-top: 3px;
  margin-left: 179px;
  font-size: 16px;
}

.page-footer__politic {
  display: none;
}

@media (max-width: 1230px) {
  .page-footer {
    padding-top: 45px;
  }

  .page-footer__wrapper {
    width: 660px;
    padding-left: 0;
  }

  .page-footer__list {
    width: 420px;
    margin-left: auto;
  }
}

@media (max-width: 700px) {
  .page-footer {
    padding-top: 26px;
    padding-bottom: 11px;
  }

  .page-footer__wrapper {
    width: 290px;
  }

  .page-footer__top {
    flex-direction: column;
  }

  .page-footer__list {
    width: 260px;
    margin-top: 8px;
    margin-left: 0;
  }

  .site-list__item,
  .page-footer__company-name {
    font-size: 9px;
  }

  .page-footer__politic {
    display: block;
    font-size: 8px;
    margin-top: 5px;
  }
}
