.page-header__top {
  background-color: @lightbrown;
}

.page-header__top-wrapper,
.page-header__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.page-header__top-wrapper {
  padding: 25px 0;
}

.page-header__bottom-wrapper {
  align-items: center;
  padding-top: 13px;
  padding-bottom: 15px;
}

.page-header__button {
  margin-top: 9px;
}

@media (max-width: 1230px) {
  .page-header__top {
    background-color: transparent;
  }

  .page-header__top-wrapper {
    width: 680px;
  }

  .page-header__bottom-wrapper {
    position: relative;
    flex-direction: column;
    width: 680px;
  }

  .page-header__button {
    display: none;
  }
}

@media (max-width: 700px) {
  .page-header__top-wrapper {
    width: 290px;
    padding-bottom: 13px;
  }

  .page-header__bottom-wrapper {
    position: relative;
    width: 290px;
    padding: 0;
  }
}
